/* Deixando responsivo*/

/*<------------------Estilo para tablet------------------>*/
 
@media only screen and (min-width: 788px) and (max-width: 979px) {

/* sobre */
.sobre p {
    max-width: 400px;
    font-size: 12px;
}

.sobre .redes-sociais {
    display: none;
}

.sobre .redes-sociais i {
    color: #185359;
    font-size: 38px;
    margin: 0;
}

/* Serviços */

.slider-center-item .conteudo-servico {
    width: 200px;
    height: 200px;
    padding: 85px 0;
}


/* Beneficios */

.text-item {
    max-width: 200px;
    margin-left: 10px;
}

.espaco-topo {
    margin-top: 75px;
}


}

/*<------------------Estilo para celular------------------>*/

@media only screen and (max-width: 787px) {

.fixar {
    position:fixed;
    margin-top: 0;
}

.arruma {
    margin-top: 0;
}

.topbar {
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
}

.single-item {
    margin-top: 100px;
}


/* Deixando menu responsivo */
  
.navbar .checkbtn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 20px;
}

.navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #185359;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

.navbar ul li {
    display: block;
    margin-top: 20px;
}


.navbar ul li a {
    color: #fff;
    font-size: 24px;
}

.navbar ul li a:before {
    background-color: #fff;
}

#check:checked ~ ul {
    left: 0;
}

/* Sobre */

.sobre {
    text-align: center;
}

.sobre h2:after {
    margin: 10px auto;
}

/* Beneficios*/

.items-beneficios {
    text-align: center;
}

.text-item {
    margin: 0;
}

/* Contato */

.form {
    width: 100%;
    border: 0px;
}

/* Footer */

.borda-esq {
    border: none;
}

.footer {
    text-align: center;
}

.footer span {
    margin-left: 0;
}

}